.black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 200%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
}
.white_content {
        display: none;
        position: absolute;
        top: 30%;
        left: 18%;
        width: 55%;
        height: 36%;
        background-color: white;
        z-index:9000;
}
.white_content2 {
        display: none;
        position: absolute;
        top: 35%;
        left: 30%;
        width: 35%;
        height: 25%;
        background-color: white;
        z-index:9000;
}