@charset "utf-8";
/* CSS Document */
body{
	/*background: url(../images/launchpad_bg2.png) #FEF6EB repeat-x;*/
        background: url(../images/header.png) #d6cec3 repeat-x;
	font:normal 12px/18px  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin:0;
	padding:0;
	background-color: #FEF6EB;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span, td, tr, table{
	margin:0;
	padding:0;
	border: 0;
}
ul{
	margin:0; 
	padding:0; 
	font-size:0;
	line-height:0;
	list-style-type:none;
}
.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}
/*------------------Main Container-----------------------*/
#mainContainer{
	width:100%;
	height:100%;
	display:block;
	margin: auto;
}
#banner{
	width:100%;
	height:218px;
	margin: auto;
}
#logo{
	width:341px;
	height: 179px;
	margin: 20px 0 0 50px;
	float:left;
}
#logo_landing{
	width:341px;
	height: 179px;
	/*	margin: 20px 0 0 550px;
	float:left;*/
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
}
#banner2{
 background: url(../images/header.png) #d6cec3 repeat-x;
	position: absolute;
        top: 0;
	width:100%;
	height:120px;
	margin:0 0 0 0;

}

#logo_landing2{
	width:22%;
	height: 179px;
	/*margin: 20px 0 0 550px;
	float:left;*/
	display: block;
	margin: 10px auto;
}

#points{
	width:363px;
	height: 179px;
	margin: 20px 0 0 138px;
	float:left;
}

#txtBoxContainer_point{
	width:363px;
	height: 47px;
	margin: 58px 0 0 0;
	float:left;
}
#txtBoxContainer_point .txtBox_left{
	background:url(../images/pointContainer_left.png) 0 0 no-repeat;
	width:10px;
	height: 47px;
	margin: 0 0 0 0;
	float:left;
}
#txtBoxContainer_point .txtBox_body{
	background:url(../images/pointContainer_body.png) 0 0 repeat-x;
	width:343px;
	height: 47px;
	margin: 0 0 0 0;
	float:left;
}
#txtBoxContainer_point .txtBox_body p{
	font: 20px/47px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:343px;
	height: 47px;
	margin: 0 0 0 0;
	float:left;
}
#txtBoxContainer_point .txtBox_right{
	background:url(../images/pointContainer_right.png) 0 0 no-repeat;
	width:10px;
	height: 47px;
	margin: 0 0 0 0;
	float:left;
}
#btnContainer{
	width:363px;
	height: 33px;
	margin: 10px 0 0 0;
	float:left;
}
#btnContainer .convertPoints{
	background: url(../images/convertPoints.png) 0 0 no-repeat;
	width:164px;
	height: 33px;
	margin: 0 0 0 0;
	float:left;
}
#btnContainer .convertPoints:hover{
	background: url(../images/convertPoints_hover.png) 0 0 no-repeat;
	width:164px;
	height: 33px;
	margin: 0 0 0 0;
	float:left;
}
#btnContainer .enterCode{
	background: url(../images/enterCode.png) 0 0 no-repeat;
	width:189px;
	height: 33px;
	margin: 0 0 0 10px;
	float:left;
}
#btnContainer .enterCode:hover{
	background: url(../images/enterCode_hover.png) 0 0 no-repeat;
	width:189px;
	height: 33px;
	margin: 0 0 0 10px;
	float:left;
}

/*-------------------Games Page------------------------------------*/
#contentContainer{
	/*background:url(../images/contentbg.jpg) no-repeat;*/
	width:100%;;
	height:450px;
        margin-left: auto;
        margin-right: auto;
}

#contentContainer2{
	/*background:url(../images/contentbg2.jpg)0 0 no-repeat;*/
	width:1440px;
	height:577px;
	margin:-20 0 0 0;
/*	margin:0 0 0 0;*/
	float: left;
}
#contentContainer3{
/*	background:url(../images/contentbg2.jpg)0 0 no-repeat;*/
	width:100%;
	height:100%;
                margin:0 0 0 0;
                margin-left: auto;
                margin-right: auto;
}
#contentContainer4{
/*	background:url(../images/contentbg2.jpg)0 0 no-repeat;*/
	width:100%;
	height:100%;
                margin:0 0 0 0;
                margin-left: auto;
                margin-right: auto;
}
#gameMainContainer{
	width:748px;
	height:auto;
	margin:32px 0 0 275px;
	float:left;
}
.game_backContainer {
	width:748px;
	height:auto;
	margin:0px 0 0 0px;
	float:left;
}
.game_back {
	background:url(../images/back.png) 0 0 no-repeat;
	width:97px;
	height:37px;
	margin: 0 0 0 0;
	float: left;
}

.game_back:hover{
	background:url(../images/back_hover.png) 0 0 no-repeat;
	width:97px;
	height:37px;
	margin: 0 0 0 0;
	float: left;
}

.gameContainer{
	width:618px;
	height:auto;
	margin:20px 0 0 130px;
	float:left;
}
.gameContainer_left{
	background:url(../images/gamesContainer_left.png) 0 0 no-repeat;
	width: 14px;
	height:468px;
	float:left;
}
.gameContainer_body{
	background:url(../images/gamesContainer_body.png) 0 0 repeat-x;
	width: 590px;
	height:468px;
	margin: 0px 0 0 0;
	float:left;
}
.gameContent{
	background:url(../images/sampleGame.jpg) 0 0 repeat-x;
	width: 590px;
	height:442px;
	margin: 14px 0 0 0;
	float:left;
}

.gameContainer_right{
	background:url(../images/gamesContainer_right.png) 0 0 no-repeat;
	width: 14px;
	height:468px;
	float:left;
}

/*-------------------eSweeps Page------------------------------------*/

.sweeps_quickContainer {
	width:985px;
	height:auto;
	margin:-20px 0 0 0px;
	float:left;
}
.sweepsContainer{
	background: url(../images/cardsContainer.png) 0 0 no-repeat;
	width:177px;
	height:178px;
	margin:05px 25px 0 0px;
	float:left;
}
.sweepsContainer2{
	background: url(../images/cardsContainer.png) 0 0 no-repeat;
	width:177px;
	height:178px;
	margin:05px 0px 0 0px;
	float:left;
}
.cardCount{
	font:  18px/47px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#6b0e00;
	text-decoration:none;
	text-align:center;
	width: 200px;
	height:49px;
	margin: 0px 0 0 0px;
	float:left;
}
.countBox_left{
	background:url(../images/inputBox_left.png) 0 0 no-repeat;
	width: 11px;
	height:49px;
	float:left;
}
.countBox_body{
	background:url(../images/inputBox_body.png) 0 0 repeat-x;
	width: 50px;
	height:49px;
	float:left;
}
.countBox_body p{
	font: 20px/40px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
	width:50px;
	height:40px;
	float:left;
	margin:3px 0 0px 0;
	padding:0;
	border: none;
}
.countBox_right{
	background:url(../images/inputBox_right.png) 0 0 no-repeat;
	width: 11px;
	height:49px;
	float:left;
}
.quick {
	width: 136px;
	height:37px;
	margin: 6px 20px 0 0px;
	float:right;
}
.sweeps_quick {
	background:url(../images/quickPick.png) 0 0 no-repeat;
	width:136px;
	height:37px;
	margin: 0 0 0 0;
	float: left;
	cursor:pointer;
}
.sweeps_quick_disabled {
	background:url(../images/qpdisabled.png) 0 0 no-repeat;
	width:136px;
	height:37px;
	margin: 0 0 0 0;
	float: left;
	
}
.sweeps_quick:hover{
	background:url(../images/quickPick_hover.png) 0 0 no-repeat;
	width:136px;
	height:37px;
	margin: 0 0 0 0;
	float: left;
	cursor:pointer;
}
.win_container{
	background: url(../images/card02.png) 0 0 no-repeat;
        /*background: url(../../images/card02.png) 0 0 no-repeat;*/
	width:143px;
	height:143px;
	margin: 17px 0 0 17px;
	float:left;
}

.win_container p{
	font:  20px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#000;
	text-decoration:none;
	text-align:center;
	width:143px;
	height:113px;
	margin: 30px 0 0 0px;
	float:left;
	
}
.win_container span{
	font:  12px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#000;
	text-decoration:none;
	text-align:center;
	width:143px;
	height:20px;
	margin: -30px 0 0 0px;
	float:left;
	display:none;
}
.flipCard{
	background: url(../images/card01.png) 0 0 no-repeat;
	width:143px;
	height:143px;
	margin:0px 0px 0 0px;
	float:left;
}
.sweeps_links {
	width: 200px;
	height:20px;
	margin: 20px 0 0 20px;
	float:left;
}
.sweeps_links2 {
	width: 110px;
	height:20px;
	margin: 20px 20px 0 0px;
	float:right;
}
.viewSum{
	font:  18px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#6b0e00;
	text-decoration:none;
	text-align:center;
	width: 200px;
	height:20px;
	margin: 0px 0 0 0px;
	float:left;
}
.viewSum:hover{
	font:  18px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#6b0e00;
	text-decoration:underline;
	text-align:center;
	width: 200px;
	height:20px;
	margin: 0px 0 0 0px;
	float:left;
}
.viewNext{
	font:  18px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#6b0e00;
	text-decoration:none;
	text-align:center;
	width: 110px;
	height:20px;
	margin: 0px 0 0 0px;
	float:left;
}
.viewNext:hover{
	font:  18px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#6b0e00;
	text-decoration:underline;
	text-align:center;
	width: 110px;
	height:20px;
	margin: 0px 0 0 0px;
	float:left;
}


/*-------------------Game List Page------------------------------------*/
#listMainContainer{
	width:836px;
	height:auto;
	margin:32px 0 0 302px;
	float:left;
    
}
.list_quickContainer {
	width:836px;
	height:auto;
	margin:0px 0 0 0px;
	float:left;
}
.backToLaunchpad {
	width: 136px;
	height:37px;
	margin: 6px 20px 0 0px;
	float:left;
}
.back_launchPad {
	background:url(../images/backLaunchPad.png) 0 0 no-repeat;
	width:236px;
	height:37px;
	margin: 0 0 0 0;
	float: left;
}

.back_launchPad:hover{
	background:url(../images/backLaunchPad_hover.png) 0 0 no-repeat;
	width:236px;
	height:37px;
	margin: 0 0 0 0;
	float: left;
}
.listContainer{
	background: url(../images/gamesListContainer.png) 0 0 no-repeat;
	width:262px;
	height:auto;
	margin:100px 25px 0 0px;
	float:left;
}
.listContainer2{
	background: url(../images/gamesListContainer.png) 0 0 no-repeat;
	width:262px;
	height:auto;
	margin:100px 0px 0 0px;
	float:left;
}
.keno{
	background: url(../images/keno-online-casino-game.jpg) 0 0 no-repeat;
	width:220px;
	height:162px;
	margin: 21px 0 0 21px;
	float:left;
}
.gameTitles{
	font: bold 20px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
	width:262px;
	height:Auto;
	margin:40px 0 0 0px;
	float:left;
}
.horseRacing{
	background: url(../images/premier-horse-racing-microgaming.jpg) 0 0 no-repeat;
	width:220px;
	height:162px;
	margin: 21px 0 0 21px;
	float:left;
}
.royalDerby{
	background: url(../images/royal-derby-slot.jpg) 0 0 no-repeat;
	width:220px;
	height:162px;
	margin: 21px 0 0 21px;
	float:left;
}

/*-------------------Registration------------------------------------*/
.regContainer
{
	/*
	width:500px;
	height:auto;
	margin:80px 0 0 506px;
	float:left;
*/
	        background:url(../images/regBox_body.png) 0 0 repeat-x;
        width: 590px;
        height:468px;
        display:block;
        /*margin: 150px auto;*/
     float:left;
}

.regBoxLeft{
    background:url(../images/regBox_left.png) 0 0 no-repeat;
    width: 14px;
    height:468px;
     display:block;
    float: left;
}

.regBox{
    display:block;
    margin: 50px 0 0 0;
    
}

.regBoxRight{
    background:url(../images/regBox_right.png) 0 0 no-repeat;
    width: 14px;
    height:468px;
   display:block;
    float:left;
}


.regNote{
	font:italic 13px/18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#F00;
	width:500px;
	display:block;
	float:left;
	text-align:left;
	margin:0 0 10px 45px;
	padding:0;
}
.regNote1{
font:italic 13px/18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#F00;
	width:500px;
	display:block;
	float:left;
	padding:0;
        margin-left:30px;
        margin-top: -35px;
}

.txtName{
	font:normal 20px/25px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:170px;
	display:block;
	float:left;
	text-align:left;
	margin:5px 0 5px 45px;
	padding:0;
}
.inputbox{
	width:305px;
	height:25px;
	float:left;
	display:block;
	margin:5px 0 5px 0;
	padding:0;
}
.submitCont{
	background:url(../images/submit.png) 0 0 no-repeat;
	width:97px;
	height:37px;
	float:left;
	display:block;
	margin:20px 0 0 190px;
	padding:0;
	cursor:pointer;
        
}
.submitCont:hover{
	background:url(../images/submit_hover.png) 0 0 no-repeat;
	width:97px;
	height:37px;
	float:left;
	display:block;
	margin:20px 0 0 190px;
	padding:0;
	cursor:pointer;
}

.submitBack{
	background:url(../images/back.png) 0 0 no-repeat;
	width:97px;
	height:37px;
	float:left;
	display:block;
	margin:20px 0 0 190px;
	padding:0;
	cursor:pointer;
}
.submitBack:hover{
	background:url(../images/back_hover.png) 0 0 no-repeat;
	width:97px;
	height:37px;
	float:left;
	display:block;
	margin:20px 0 0 190px;
	padding:0;
	cursor:pointer;
}


.messagebox{
	width:255px;
	height:auto;
	float:left;
	display:block;
	margin:0 0 9px 0;
	padding:0;
}
.inputBoxEffect{
	font:normal 18px/25px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:305px;
	height:25px;
	background-color:#fff;
	border:1px solid  #dbdfe2;
}
.inputBoxEffect_selectM{
	font:normal 18px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:139px;
	height:25px;
	background-color:#fff;
	border:1px solid  #dbdfe2;
	margin: 0 10px 0 0;
	float:left;
}
.inputBoxEffect_selectD{
	font:normal 18px/25px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:60px;
	height:25px;
	background-color:#fff;
	border:1px solid  #dbdfe2;
	margin: 0 10px 0 0;
	float:left;
}
.inputBoxEffect_selectY{
	font:normal 18px/25px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:80px;
	height:25px;
	background-color:#fff;
	border:1px solid  #dbdfe2;
	float:left;
}
.messageBoxEffect{
	font:normal 18px/25px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:305px;
	height:auto;
	background-color:#fff;
	margin:0;
	padding:4px 0 0 3px;
	border:1px solid  #dbdfe2;
}
/*-------------------Footer------------------------------------*/

#footer{
        background: url(../images/footer.png) #d6cec3 repeat-x;
        position: absolute;
        bottom: 0;
        width:100%;
        height:80px;
        margin:0;
        z-index: 2;
        left: 0;
	
}

#footerBox{
	width:735px;
	height:15px;
	/*margin:18px 0 0 353px;
	float:left;*/
	display: block;
	margin: 5px auto;
        right: auto;
}
#footerBox .footerBox_left{
	background: url(../images/footerContBox_left.png) 0 0 no-repeat;
	width:14px;
	height:75px;
	margin:0 0 0 0;
	float:left;
}
#footerBox .footerBox_body{
	background: url(../images/footerContBox_body.png) 0 0 repeat-x;
	width:707px;
	height:76px;
	margin:0 0 0 0;
	float:left;
}
.under18{
	background: url(../images/under18.png) 0 0 no-repeat;
	width:45px;
	height:44px;
	margin: 16px 0 0 64px;
	float:left;
}
.rules a{
	font: 16px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#FFF;
	text-decoration:none;
	width:156px;
	height:20px;
	margin: 30px 0 0 131px;
	float:left;
}
.terms a{
	font: 16px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#FFF;
	text-decoration:none;
	width:156px;
	height:20px;
	margin: 30px 0 0 100px;
	float:left;
}
.rules:hover{
	text-decoration:underline;
}
.terms:hover{
	text-decoration:underline;
}
#footerBox .footerBox_right{
	background: url(../images/footerContBox_right.png) 0 0 no-repeat;
	width:14px;
	height:76px;
	margin:0 0 0 0;
	float:left;
}

/*added 04/25/2011*/
.popup 
{
	border:0px solid #000;
	padding:0px;
	filter:alpha(opacity=90);
	opacity: 0.99;
	-moz-opacity:0.50;
	font-family:verdana;
	letter-spacing:0px;
	color:#fff;
	width:1440px;
	height:800px;
	margin-top:-650px;
	float:left;
}

.popupcontent
{
	width:1440px;
	height:800px;
	border: 4px solid white;
	background-color:#000000;
	filter:alpha(opacity=90);
	opacity: 0.99;
	-moz-opacity:0.50;
	overflow-y:scroll;
}

.rules a{
	font: 16px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#FFF;
	text-decoration:none;
	width:156px;
	height:20px;
	margin: 30px 0 0 131px;
	float:left;
}

.terms a{
	font: 16px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#FFF;
	text-decoration:none;
	width:166px;
	height:20px;
	margin: 30px 0 0 100px;
	float:left;
}

.rules:hover{
	text-decoration:underline;
}

.terms:hover{
	text-decoration:underline;
}

.ecn
{
	margin-top: 120px; display:none;
}

.winnings
{
	font-size:2em;
	display:none;
	margin-top: 40px;
}

.win_container_disabled{
	background: url(../images/cards_disabled.png) 0 0 no-repeat;
	width:143px;
	height:143px;
	margin: -143px 0 0 17px;
	float:left;
	display:none;
}
.proceedbutton
{
	font-size:1.2em;
	width:146px;
	height:47px;
	text-align:center;
	font-weight:bold;
	cursor:pointer;
	padding:5px;
	background:url(../images/ProceedButton.png) 0 0 no-repeat;
	
	
}

/*Light box*/
.black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
}
.white_content {
        display: none;
        position: absolute;
        top: 15%;
        left: 30%;
        width: 40%;
        height: 85%;
        padding: 16px;
        border: solid #139E9E;
        background-color: white;
        z-index:1002;
        overflow: auto;
}

.white_content2 {
        display: none;
        position: absolute;
        top: 5%;
        left: 15%;
        width: 70%;
        height: 85%;
        padding: 16px;
        border: solid #139E9E;
        background-color: white;
        z-index:1002;
        overflow: auto;
}
                
.inputBoxEffectPopup{
    background:url('../images/okbutton.png') no-repeat;
    width: 146px;
    height: 47px;
    cursor: pointer;
    margin-bottom: 15px;
}


/** Added Date 05-21-2012 */
.popupcontent1
{
    width: 100%;
    height: 27px;
    background-color: #006E6E;
    top: 0px;
    color: white;
    padding-top: 5px
}
.errorField{color: red;}

#sweepsMainContainer{
        top: 50%;
        left: 50%;
        margin-left: -500px;
        margin-top: -240px;
        position: absolute;
        /*float: left;*/
        /*background-color: gray;*/
        width: 985px;
        height: 430px;
/*	width:985px;
	height:auto;
        margin-right: auto;
        margin-left: auto;
        margin-top: 168px;*/
}
