/* <![CDATA[ */
* 
	{
		margin:0;padding:0;
	}

body, html
	{
		font-family: Arial;
		color:#000000;
		height: 100%;
		text-align:center
	}

form 
	{
		margin-bottom: 0px;
	}
	
.submenu
	{
		margin-bottom: 10px;
		font-size:1.1em;
		font-weight:bold;
                text-align:left;
	}

.menutitle
	{
		cursor:pointer;
		margin-bottom: 5px;
		background-color:#FFC895;
		color:#000000;
		width:250px;
		height:28px;
		padding:2px;
		text-align:left;
		font-size:1.3em;
		font-weight:bold;
		border:1px solid #000000;
	}

.linkmenu
{
	font-size:1em; 
	font-weight:bold; 
	text-decoration:none; 
	color:#000000; 
	cursor:pointer; 
	margin-left:15px;	
	
}

.linkmenuactive
{
	font-size:1em; 
	font-weight:bold; 
	text-decoration:none; 
	color:#800517; 
	cursor:pointer; 
	margin-left:15px;	
}

.labelbold
	{
		font-weight:bold;
		font-size:1.2em;
	}

.labelbold2
{
	font-weight:bold;
	font-size:1.0em;
}

.labelbutton2
{
	background-color: #FF9C42;
	border-color:#000000;
	border-width:thin;
	border-style:solid;
	font-weight:bold;
	font-size:1.0em;
	width:150px;
	text-align:center;
	cursor:pointer;
	padding:5px;
	text-decoration:none; 
	color:#000; 
}

.padded
{
	height:20px; 
	font-weight:bold;
}

.paging
{
	color:Red;
	font-weight:bold;
	font-size:1.0em;
	text-align:center;
}

#popuptitle
{
	background-color:#FFC895; 
	height:30px; 
	width:300px; 
	text-align:center; 
	font-weight:bold; 
	font-size:1.5em; 
	vertical-align:center;	
	border-color:#000000;	
	border-width:thin; 
	border-style:solid;
}

/** Bryan June 6, 2011 **/
.titleLightbox
{
	background-color:#FF9C42; 
	height:30px; 
	width:100%; 
	text-align:center; 
	font-weight:bold; 
	font-size:1.5em; 
	vertical-align:center;	
        color: #fff;
	/*border-color:#000000;	
	border-width:thin; 
	border-style:solid;*/
}

.msgLightbox
{
	/*height:200px; */
	height:auto; 
	width:100%; 
	text-align:center; 
	font-weight:bold; 
	font-size:1.5em; 
	vertical-align:center;	
	/*border-color:#000000;	
	border-width:thin; 
	border-style:solid;*/	
}

#popupmsg
{
	height:200px; 
	width:300px; 
	text-align:center; 
	font-weight:bold; 
	font-size:1.5em; 
	vertical-align:center;	
	border-color:#000000;	
	border-width:thin; 
	border-style:solid;	
}

#header
{
	background-color: #FF9C42;
	font-weight:bold;
	font-size:1.2em; 
	padding:5px;
	height:30px;
}

#header2
{
	font-weight:bold;
	font-size:1.2em; 
	padding:5px;
	height:30px;
}

td.fontboldblack
{
	font-weight:bold;
	font-size:1em;
	color:#000000;	
}

td.fontboldblackcenter
{
	font-weight:bold;
	font-size:1em;
	text-align:center;
	color:#000000;	
}

td.fontboldred
{
	font-weight:bold;
	font-size:1em;
	color:red;	
}

td.fontred
{
	color:red;	
	text-align:center;
}

th.th
{
	background-color: #FFBB7D;
	color:#000000;
	font-weight:bold;
	font-size:1em;
	width:215px;
	text-align:center;
}

td.td
{
	text-align:center;
}
	
#containertemplate
{
	width:870px;
	height:100%; 
	margin:auto auto;
	vertical-align:middle; 
	display:table;
	background-color:#FFFFFF;
	text-align:left;
	margin-top:10px;
}

#maincontent
{
	width:850px;
	height:600px;
	position:relative;
	margin-top:50px;
	margin-left:auto;
	border-color:#000000;
	background-color:#FFFFFF;
	border-width:thin;
	border-style:solid;
	overflow-y:auto;
	vertical-align:top;
}

#menu
{
	position:relative; 
	width:200px; 
	height:600px; 
	margin-top:50px;
	/*border-width:thin;
	border-style:solid;*/
}

#datetime
{
	height: 100px; 
	width: 360px; 
	position:relative; 
	margin-top:-120px; 
	margin-left:530px;
}

#container
{
	width:250px; 
	height:150px; 
	margin: auto;
        padding-top: 8%;
	vertical-align:middle; 
	display:table; 
	background-color:#FFFFFF;
	text-align:left;
    text-decoration: line-through;

}

/*Light box*/
.black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
}
.white_content {
        display: none;
        position: absolute;
        top: 5%;
        left: 15%;
        width: 70%;
        height: 85%;
        padding: 16px;
        border: solid #139E9E;
        background-color: white;
        z-index:1002;
        overflow: auto;
}
.inputBoxEffectPopup{
    background:url('../images/okbutton.png') no-repeat;
    width: 146px;
    height: 47px;
    cursor: pointer;
    margin-bottom: 15px;
}

.errorField{color:red;}

.black_overlay2 {
   display: none;
   position: absolute;
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
   background-color: black;
   z-index:1001;
   -moz-opacity: 0.8;
   opacity:.80;
   filter: alpha(opacity=80);
}
.white_content2 {
   display: none;
   position: absolute;
   top: 10%;
   width: 445px;
   height: auto;
   padding: 16px;
   border: solid #139E9E;
   background-color: white;
   z-index:1002;
   overflow: auto;
   margin-left:35%;
}
#ui-datepicker-div{font-size:11px}
/*

#page
{
	display:table; 
	text-align:center; 
	margin-left:auto; 
	margin-right:auto;
	margin-top:10px;
}

#innerpage
{
	border-color:#000000;	
	border-width:thin; 
	border-style:solid; 
	width:500px;
	display:table;
	text-align:center;
	table-layout:auto;
}

#login
{
	width:250px;
	height:100px;
	margin-top:15px;
	vertical-align:middle;
}

#errmsg
{
	font-weight:bold;
	font-size:1em;
	color:red;	
}

.button
{
	padding:7px;
	background-color: #dcdcdc;
	border: 1px solid #666;
	color:#000;
	text-decoration:none;
	width:150px;
	text-align:center;
	font-weight:bold;
}

.buttonactive
{
	padding:7px;
	background-color: #4A4344;
	border: 1px solid #666;
	color:#FFF;
	text-decoration:none;
	width:150px;
	text-align:center;
	font-weight:bold;
}

a:hover 
{
 	color:#800517;
}

a:active 
{
    color:#800517;
}

a:focus 
{
	color:#800517;
}





.labelnormal
{
	font-size:1.2em;
}

.labelbutton
{
	border-color:#000000;
	border-width:thin;
	border-style:solid;
	font-size:1.0em;
	width:150px;
	text-align:center;
	cursor:pointer;
}



.options
{
	font-weight:bold;
	font-size:1.0em;
	color:#3b3131;
}


th.th
{
	//background-color: #D4A017;
	background-color: #5C5858;
	color:#FFFFFF;
	font-weight:bold;
	font-size:1em;
	width:150px;
}



td.fontboldblack
{
	font-weight:bold;
	font-size:1em;
	color:#000000;	
}

td.text
{
	font-weight:bold;
}
*/	
/* ]]> */

