/* <![CDATA[ */
* 
	{
		margin:0;padding:0;
	}

body, html
	{
		font-family: Arial;
		color:#000000;
		height: 100%;
		text-align:center
	}

form 
	{
		margin-bottom: 0px;
	}
	
        
        .submenu
	{
		margin-bottom: 10px;
		font-size:1em;
		font-weight:bold;
                text-align: left;
	}

.menutitle 
	{
		cursor:pointer;
		/*margin-bottom: 5px;*/
		background-color:#CCCCCC;
		color:#000000;
		width:250px;
		/*height:28px;*/
		padding:5px;
		text-align:left;
		font-size:1em;
		font-weight:bold;
		border:1px solid #000000;
		
	}
	
#login
{
	width:250px;
	height:100px;
	margin-top:15px;
	vertical-align:middle;
}

#container
{
	width:250px; 
	height:150px; 
	margin:100px auto; 
	vertical-align:middle; 
	display:table; 
	background-color:#FFFFFF;
	text-align:left;
}

#containertemplate
{
	width:870px;
	height:100%; 
	margin:auto auto;
	vertical-align:middle; 
	display:table;
	background-color:#FFFFFF;
	text-align:left;
	margin-top:10px;
}

#maincontent
{
	width:700px;
	height:600px;
	position:relative;
	margin-top:50px;
	margin-left:10px;
	border-color:#000000;
	background-color:#FFFFFF;
	border-width:thin;
	border-style:solid;
	overflow-y:auto;
}

#menu
{
	position:relative; 
	width:260px; 
	height:600px; 
	margin-top:50px;
	border-width:thin;
	border-style:solid;
	vertical-align:top; 
	width:262px;
}

a:hover 
{
 	color:#800517;
}

a:active 
{
    color:#800517;
}

a:focus 
{
	color:#800517;
}

.padded
{
	height:20px; 
	font-weight:bold;
}

td.fontboldblack
{
	font-weight:bold;
	font-size:1em;
	color:#000000;	
}

.fontboldblack2
{
	font-weight:bold;
	font-size:1.2em;
	color:#000000;	
	height:30px;
	background-color:#dcdcdc;
}

td.fontboldred
{
	font-weight:bold;
	font-size:1em;
	color:red;	
}

.labelbutton2
{
	background-color: #dcdcdc;
	border-color:#000000;
	border-width:thin;
	border-style:solid;
	font-weight:bold;
	font-size:1.0em;
	width:150px;
	text-align:center;
	cursor:pointer;
        color:#000;
}

.labelbutton3
{
        background-color: #3785c9;
        color: #FFFFFF;
	border-color:#000000;
	border-width:thin;
	border-style:solid;
	font-weight:bold;
	font-size:1.0em;
	width:150px;
	text-align:center;
	cursor:pointer;
}

.labelbold2
{
	font-weight:bold;
	font-size:1.0em;
}

.linkmedium
{
	font-weight:bold;
	font-size:1.2em;	
	cursor:pointer;
	color:#000000;
}

.linkmenu
{
	font-size:1.0em; 
	font-weight:bold; 
	text-decoration:none;
	color:#000000; 
	cursor:pointer; 
	margin-left:15px;	
	
}

.linkmenuactive
{
	font-size:1.0em; 
	font-weight:bold; 
	/*text-decoration:none; */
	color:#800517; 
	cursor:pointer; 
	margin-left:15px;	
}

.black_overlay {
   display: none;
   position: absolute;
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
   background-color: black;
   z-index:1001;
   -moz-opacity: 0.8;
   opacity:.80;
   filter: alpha(opacity=80);
}
.white_content {
   display: none;
   position: absolute;
   top: 10%;
   width: 500px;
   height: auto;
   padding: 0px;
   border: solid #000000;
   background-color: white;
   z-index:1002;
   overflow: auto;
   margin-left:-5%;
}

.white_content2 {
   display: none;
   position: absolute;
   top: 10%;
   width: 445px;
   height: auto;
   padding: 16px;
   border: solid #139E9E;
   background-color: white;
   z-index:1002;
   overflow: auto;
   margin-left:35%;
}

.lightbox_title {background-color:#000;color:#fff}

/*
Added by: Arlene R. Salazar
Added on: July 25, 2011
*/
.lighttitle{
   width: 100%;
   height: 30px;
   background-color: #CCCCCC;
   font-weight: bold;
   font-size: 25px;
   padding-top: 5px;
}

/*
Added by: Arlene R. Salazar
Added on: July 25, 2011
*/
.error_message
{
   font-size: 20px;
   padding-top: 30px;
}

#menu_table
{
	margin-top:-30px;
}

#logo1
{
	background-image: url(../images/Kick_For_Gold.png); 
	height:135px; 
	width:350px;
	background-repeat: no-repeat;
}

#logo2
{
	background-image: url(../images/sweepslogo.png); 
	height:135px; 
	width:350px;
	background-repeat: no-repeat;
}

#datetime
{
	height: 100px; 
	width: 150px; 
	position:relative; 
	margin-top:-120px; 
	margin-left:730px;
}

.menutitle_link
{
	text-decoration:none; 
	color:#000;
}

.reports_table
{
	color:#000000;
}

.header
{
	background-color: #5C5858;
        color: #000000;
	height:30px;
}

.header2
{
        background-color: #0b5a9f;
        color: #FFFFFF;
	height:30px;
}

.headers
{
	background-color: #FFFFFF;
        color: #000000;
	height:10px;
	width: auto;
	text-align: center;
}

.headers2
{
	background-color: #3785c9;
        color: #FFFFFF;
	height:10px;
	width: auto;
	text-align: center;
}

.oddrow
{
	background-color:#E9F1EA; 
	height:30px;
	width: 10px;
	text-align: center;
}

.evenrow
{
	background-color:#FFFFFF; 
	height:30px;
	text-align: center;
}

/*Galing sa mga nakacomment*/
.labelbold
{
	font-weight:bold;
	font-size:1.0em;
	text-align:left;
}
/*
#page
{
	display:table; 
	text-align:center; 
	margin-left:auto; 
	margin-right:auto;
	margin-top:10px;
}

#innerpage
{
	border-color:#000000;	
	border-width:thin; 
	border-style:solid; 
	width:500px;
	display:table;
	text-align:center;
	table-layout:auto;
}



#errmsg
{
	font-weight:bold;
	font-size:1em;
	color:red;	
}

.button
{
	padding:7px;
	background-color: #dcdcdc;
	border: 1px solid #666;
	color:#000;
	text-decoration:none;
	width:150px;
	text-align:center;
	font-weight:bold;
}

.buttonactive
{
	padding:7px;
	background-color: #4A4344;
	border: 1px solid #666;
	color:#FFF;
	text-decoration:none;
	width:150px;
	text-align:center;
	font-weight:bold;
}


.labelnormal
{
	font-size:1.2em;
}

.labelbutton
{
	border-color:#000000;
	border-width:thin;
	border-style:solid;
	font-size:1.0em;
	width:150px;
	text-align:center;
	cursor:pointer;
}



.options
{
	font-weight:bold;
	font-size:1.0em;
	color:#3b3131;
}


th.th
{
	background-color: #5C5858;
	color:#FFFFFF;
	font-weight:bold;
	font-size:1em;
	width:150px;
}

td.td
{
	text-align:center;
}



td.text
{
	font-weight:bold;
}


*/

	
/* ]]> */

