/* <![CDATA[ */
* 
	{
		margin:0;padding:0;
	}

body, html
	{
		font-family: Arial;
		color:#000000;
		height: 100%;
		text-align:center
	}

form 
	{
		margin-bottom: 0px;
	}

#containertemplate
{
	width:1260px;
	margin:auto auto;
	vertical-align:middle; 
	display:table;
	background-color:#FFFFFF;
	text-align:center;
	margin-top:5px;
}

#maincontent
{
	width:1260px;
	height:500px;
	position:relative;
	border-color:#000000;
	background-color:#FFFFFF;
	border-width:thin;
	border-style:solid;
	overflow-y:auto;
}

.labelbold
{
	font-weight:bold;
	font-size:1.2em;
}

.labelboldbig
{
	font-weight:bold;
	font-size:1.5em;
}

.labelboldred
{
	font-weight:bold;
	font-size:1.2em;
	color:#660033;
	float:left;
	text-align:left;
}

.labelboldredlink
{
	font-weight:bold;
	font-size:1.2em;
	color:#660033;
	float:left;
	text-align:left;
	cursor:pointer;
}

#container
{
	width:250px; 
	height:150px; 
	margin:100px auto; 
	vertical-align:middle; 
	display:table; 
	background-color:#FFFFFF;
	text-align:left;
}

#page
{
	display:table; 
	text-align:center; 
	margin-left:auto; 
	margin-right:auto;
	margin-top:10px;
}

#innerpage
{
	border-color:#000000;	
	/*border-width:thin; 
	border-style:solid; */
	width:500px;
	display:table;
	text-align:center;
	table-layout:auto;
}

#login
{
	width:250px;
	height:100px;
	margin-top:15px;
	vertical-align:middle;
}

#errmsg
{
	font-weight:bold;
	font-size:1em;
	color:red;	
}

.button
{
	padding:7px;
	background-color: #dcdcdc;
	border: 1px solid #666;
	color:#000;
	text-decoration:none;
	width:140px;
	text-align:center;
	font-weight:bold;
}

.buttonactive
{
	padding:7px;
	background-color: #4A4344;
	border: 1px solid #666;
	color:#FFF;
	text-decoration:none;
	width:140px;
	text-align:center;
	font-weight:bold;
}

a:hover 
{
 	color:#800517;
}

a:active 
{
    color:#800517;
}

a:focus 
{
	color:#800517;
}

.labelbold
{
	font-weight:bold;
	font-size:1.2em;
}

.labelbold2
{
	font-weight:bold;
	font-size:1.0em;
}

.labelnormal
{
	font-size:1.2em;
}

.labelbutton
{
	border-color:#000000;
	border-width:thin;
	border-style:solid;
	font-size:1.0em;
	width:155px;
	text-align:center;
	cursor:pointer;
	padding:5px;
}

.labelbutton2
{
	background-color: #dcdcdc;
	border-color:#000000;
	border-width:thin;
	border-style:solid;
	font-weight:bold;
	font-size:1.0em;
	width:155px;
	text-align:center;
	cursor:pointer;
	padding:5px;
}

.options
{
	font-weight:bold;
	font-size:1.0em;
	color:#3b3131;
}

.paging
{
	color:Red;
	font-weight:bold;
	font-size:1.0em;
	text-align:center;
}

th.th
{
	/*background-color: #D4A017;*/
	background-color: #5C5858;
	color:#FFFFFF;
	font-weight:bold;
	font-size:1em;
	width:150px;
}

td.td
{
	text-align:center;
}

td.fontboldblack
{
	font-weight:bold;
	font-size:1em;
	color:#000000;	
}

td.text
{
	font-weight:bold;
}

/**/
#outer{
height:100%;
width:100%;
display:table;
vertical-align:middle;
}
#container2 {
text-align: center;
position:relative;
vertical-align:middle;
display:table-cell;
height: 468px;
}
#inner {
width: 552px;
height: 468px;
text-align: center;
margin-left:auto;
margin-right:auto;
border:1px solid #000;
}

#menu {
    width:100%;
    text-align: center;
    margin-left: 0px;
    margin-right: auto;
}

#popuptitle
{
	background-color:#006E6E; 
	height:27px; 
	width:100%; 
	text-align:center; 
	font-weight:bold; 
	font-size:1.5em; 
	vertical-align:center;
	border-color:#000000;
	border-width:thin; 
	border-style:solid;
	color:#FFFFFF;
	margin-top:5px;
}

#popupmsg
{
	height:100%; 
	width:100%; 
	text-align:center; 
	font-weight:bold; 
	font-size:1.5em; 
	vertical-align:center;	
	border-color:#000000;	
	border-width:thin; 
	border-style:solid;
}

/*Light box*/
.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0;
    opacity:.80;
    filter: alpha(opacity=0);
}
.white_content {
    display: none;
    position: absolute;
    top: 35%;
    left: 33%;
    width: 35%;
    height: auto;
    padding: 0px;
    border: 1px solid black;
    background-color: white;
    z-index:1002;
    overflow: auto;
    text-align: center;
    font-size: 16pt;
}

.light-title{
    width: 100%;
    height: 27px;
    background-color: #006E6E;
    top: 0px;
    color: white;
    padding-top: 5px;
}

.light-message{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.evenrow{
    background-color:#E9F1EA;
    height:30px;
}

.oddrow{
    height:30px;
}
.inputBoxEffectPopup
{
    background:url(../images/okbutton.png) no-repeat;
    width: 136px;
    height: 37px;
    cursor: pointer;
    padding-bottom: 10px;
    /*margin-bottom: 15px;*/
}

.inputBoxEffectPopupCancel
{
    background:url(../images/cancelbutton.png) no-repeat;
    width: 136px;
    height: 37px;
    cursor: pointer;
    padding-bottom: 10px;
    /*margin-bottom: 15px;*/
}

.errorField { color: red; }
	
/* ]]> */

