#blanket
{
	background-color:#111;
	opacity: 0.65;
	filter:alpha(opacity=65);
	position:absolute;
	z-index: 9001;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	/*width:1418px;*/
}
#popUpDivConvert
{
	position:absolute;
	background-color:#eeeeee;
	width:510px;
	height:230px;
	z-index: 9002;
}
#popUpDivLPConvert
{
	position:absolute;
	background-color:#eeeeee;
	width:510px;
	height:230px;
	z-index: 9002;
}
#popUpDivLPBrowse
{
	position:absolute;
	background-color:#eeeeee;
	width:510px;
	height:230px;
	z-index: 9002;
}
#popUpDivLPBrowseNoBal
{
	position:absolute;
	background-color:#eeeeee;
	width:510px;
	height:230px;
	z-index: 9002;
}
#popUpDivLPCheckActiveSession
{
	position:absolute;
	background-color:#eeeeee;
	width:510px;
	height:230px;
	z-index: 9002;
}
#popUpDiv
{
	position:absolute;
	background-color:#eeeeee;
	width:800px;
	height:640px;
	z-index: 9002;
}
#popUpDivOpenedCards
{
	position: relative;
        margin-top: -80px;
        margin-left: 17%;
	background-color:#eeeeee;
	width:1010px;
	height:750px;
	z-index: 9002;
}
#popUpDivLoginUname
{
	position:absolute;
	background-color:#eeeeee;
	width:510px;
	height:230px;
	z-index: 9002;
}
#popUpDivLoginPass
{
	position:absolute;
	background-color:#eeeeee;
	width:510px;
	height:230px;
	z-index: 9002;
}
#popUpDivHome
{
	position:absolute;
	background-color:#eeeeee;
	width:510px;
	height:230px;
	z-index: 9002;
}
#popUpDivEntryCode
{
	position:absolute;
	background-color:#eeeeee;
	width:510px;
	height:230px;
	z-index: 9002;
}






