@charset "utf-8";
/* CSS Document */
body{
	/*background: url(../images/launchpad_bg.png) #d6cec3 repeat-x;*/
	font:normal 12px/18px  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin:0;
	padding:0;
        height: 100%;
        width: 100%;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span, td, tr, table{
	margin:0;
	padding:0;
	border: 0;
}
ul{
	margin:0;
	padding:0;
	font-size:0;
	line-height:0;
	list-style-type:none;
}
.spacer{
	clear:both;
	font-size:0;
	line-height:0;
}
/*------------------Main Container-----------------------*/
#mainContainer{
	width:100%;
        height: auto;
        overflow: hidden;
	display:block;
	margin:0;
}
#banner{
        position: absolute;
        top: 0;
        background: url(../images/header.png) #d6cec3 repeat-x;
	width:100%;
	height:218px;
	margin:0 0 0 0;
}
#logo{
	width:341px;
	height: 179px;
	margin: 20px 0 0 50px;
	float:left;
}
#logo_landing{
	width:341px;
	height: 179px;
	margin: 20px 0 0 35%;
	float:left;
}
#points{
	width:363px;
	height: 179px;
	margin: 20px 0 0 138px;
	float:left;
}

#txtBoxContainer_point{
	width:320px;
	height: 47px;
	margin: 60px 0 0 0;
	float:left;
}
#txtBoxContainer_point .txtBox_left{
	background:url(../images/pointContainer_left.png) 0 0 no-repeat;
	width:10px;
	height: 47px;
	margin: 0 0 0 0;
	float:left;
}
#txtBoxContainer_point .txtBox_body{
	background:url(../images/pointContainer_body.png) 0 0 repeat-x;
	width:300px;
	height: 47px;
	margin: 0 0 0 0;
	float:left;
}
#txtBoxContainer_point .txtBox_body p{
	font: 20px/47px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:300px;
	height: 47px;
	margin: 0 0 0 0;
	float:left;
}
#balance{
	font: 20px/47px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:300px;
	height: 47px;
	margin: 0 -90px 0 0;
	float:left;
}
#txtBoxContainer_point .txtBox_right{
	background:url(../images/pointContainer_right.png) 0 0 no-repeat;
	width:10px;
	height: 47px;
	margin: 0 0 0 0;
	float:left;
}
#logout{
	width:104px;
	height: 47px;
	margin: 0px 0 0 435px;
	float:left;
}
.logout{
	background: url(../images/logout.png) 0 0 no-repeat;
	width:104px;
	height: 47px;
	margin: 0 0 0 0;
	float:left;
}
.logout:hover{
	background: url(../images/logout.png) 0 0 no-repeat;
	width:104px;
	height: 47px;
	margin: 0 0 0 0;
	float:left;
}
#btnContainer{
	width:320px;
	height: 33px;
	margin: 10px 0 0 0;
/*        margin: 10px 0 0 0;*/
	float:left;
}
#btnContainer .convertPoints{
/*	background: url(../images/convertPoints.png) 0 0 no-repeat;
	width:164px;
	height: 33px;*/
	margin: 0 0 0 0;
	float:left;
        cursor: pointer;
}

#btnContainer .convertPoints2{
/*	background: url(../images/convertPoints.png) 0 0 no-repeat;
	width:164px;
	height: 33px;*/
	margin: 0 0 0 0;
	float:left;
        opacity:0.4;
        filter:alpha(opacity=40);
}

#btnContainer .convertPoints:hover{
/*	background: url(../images/convertPoints_hover.png) 0 0 no-repeat;
	width:164px;
	height: 33px;*/
	margin: 0 0 0 0;
	float:left;
}
#btnContainer .enterCode{
/*	background: url(../images/enterCode.png) 0 0 no-repeat;
	width:189px;
	height: 33px;*/
	margin: 0 0 0 10px;
	float:left;
        cursor: pointer;
}
#btnContainer .enterCode:hover{
/*	background: url(../images/enterCode_hover.png) 0 0 no-repeat;
	width:189px;
	height: 33px;*/
	margin: 0 0 0 10px;
	float:left;
}
#rotatingAd{
	width:360px;
	height: 178px;
	margin: 0 0 0 160px;
	float:left;
}
#adContainer{
/*	background:url(../images/adContainer.png) 0 0 no-repeat;*/
/*	width:360px;
	height: 178px;*/
	margin: 0 0 0 28px;
/*	float:left;*/
}
#adContainer .adContent{
/*	background:url(../images/Ad.gif) 0 0 no-repeat;*/
/*	width:333px;
	height: 162px;*/
	margin: 0 0 0 13px;
	float:left;
}

#contentContainer{
	/*background:url(../images/contentbg.jpg)0 0 no-repeat;*/
        /*position: absolute;*/
        top: 218px;
        border: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        width:100%;
	height:60%;
	margin:0 0 0 0;
        z-index: 1;
        text-align: center;
}

#contentContainer #gaBG {z-index: -1;}

#launch_Btn{
	width:251px;
	height:350px;
	margin:68px auto 0 230px;
	float:left;
}

#launch_Btn .launch_game{
	background:url(../images/launch_Btn.png) 0 0 no-repeat;
	width:251px;
	height:251px;
	margin:0 0 0 0;
	float:left;
        cursor: pointer;
}
#launch_Btn .launch_game:hover{
	background:url(../images/launch_Btn_hover.png) 0 0 no-repeat;
	width:251px;
	height:251px;
	margin:0 0 0 0;
	float:left;
}
#launch_Btn .launch_title{
	font: bold 35px/44px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
	text-transform: uppercase;
	width:251px;
	height:auto;
	margin:0 0 0 0;
	float:left;
}
#launch_Btn2{
	width:251px;
	height:350px;
	margin:68px 0 0 56px;
	float:left;
}

#launch_Btn2 .launch_game{
	background:url(../images/launch_Btn.png) 0 0 no-repeat;
	width:251px;
	height:251px;
	margin:0 0 0 0;
	float:left;
        cursor: pointer;
}
#launch_Btn2 .launch_game:hover{
	background:url(../images/launch_Btn_hover.png) 0 0 no-repeat;
	width:251px;
	height:251px;
	margin:0 0 0 0;
	float:left;
}
#launch_Btn2 .launch_title{
	font: bold 35px/44px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
	text-transform: uppercase;
	width:251px;
	height:auto;
	margin:0 0 0 0;
	float:left;
}
/*-------------------------Landing Page---------------------------------*/
#about_container{
	width:750px;
	height:300px;
	margin:68px 0 0 345px;
	float:left;
}
#about_container .aboutTitle{
	font: bold 35px/44px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
	width:750px;
	height:auto;
	margin:0 0 0 0;
	border-bottom:#066 2px solid;
	float:left;
}
#about_container .about{
	font:  14px/24px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:750px;
	height:245px;
	margin:10px 0 0 0;
	float:left;
}

#about_container .goToLaunchPad_quickContainer{
	width:750px;
	height:37px;
	margin:10px 0 0 0;
	float:left;
}
.gotToLaunchpad{
	background:url(../images/gotoLaunchpad.png) 0 0 no-repeat;
	width:237px;
	height:37px;
	margin: 0px 0px 0px 255px;
	float: left;
}

.gotToLaunchpad:hover{
	background:url(../images/gotoLaunchpad_hover.png) 0 0 no-repeat;
	width:237px;
	height:37px;
	margin: 0px 0px 0px 255px;
	float: left;
}
/*-------------------Enter Code Page------------------------------------*/
#codeContainer{
	font: 16px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:500px;
	height:auto;
	margin:30px 0 0 280px;
	float:left;
}
#codeContainer2{
	font: 16px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:750px;
	height:auto;
	margin:20px 0 0 145px;
	float:left;
}
#codeContainer .codeP{
	font: 20px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:500px;
	height:auto;
	float:left;
}
#codeContainer .inBox{
	font: 20px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:500px;
	height:auto;
	margin: 10px 0 0 0;
	float:left;
}
.inputBox_left{
	background:url(../images/inputBox_left.png) 0 0 no-repeat;
	width: 11px;
	height:49px;
	float:left;
}
.inputBox_body{
	background:url(../images/inputBox_body.png) 0 0 repeat-x;
	width: 478px;
	height:49px;
	float:left;
}
.inputbox_code{
	font: 20px/40px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
	width:478px;
	height:40px;
	float:left;
	margin:3px 0 0px 0;
	padding:0;
	border: none;
}
.inputBox_right{
	background:url(../images/inputBox_right.png) 0 0 no-repeat;
	width: 11px;
	height:49px;
	float:left;
}
#codeContainer2 .code_btn{
	width:750px;
	height:37px;
	margin: 10px 0 0 0;
	float:left;
}
.code_submit {
	background:url(../images/submit.png) 0 0 no-repeat;
	width:97px;
	height:37px;
	margin: 0px 190px 0px 190px;
	float: left;
        cursor: pointer;
}

.code_submit:hover{
	background:url(../images/submit_hover.png) 0 0 no-repeat;
	width:97px;
	height:37px;
	margin: 0px 190px 0px 190px;
	float: left;
}
.code_back {
	background:url(../images/back.png) 0 0 no-repeat;
	width:97px;
	height:37px;
	margin: 0 0 0 0;
	float: left;
        cursor: pointer;
}

.code_back:hover{
	background:url(../images/back_hover.png) 0 0 no-repeat;
	width:97px;
	height:37px;
	margin: 0 0 0 0;
	float: left;
}
/*-------------------Keyboard------------------------------------*/
.button
{
	background-color: #ffeedd;
	font: bold 95% "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border:2px solid;
	/*border-color: #696 #363 #363 #696; */
	width:45px;
	height:45px;
	color:Black;
	margin: 10px 0px 0px 10px;
	float:left;

}
.button2
{
	background-color: #ffeedd;
	font: bold 95% "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border:2px solid;
	/*border-color: #696 #363 #363 #696; */
	width:45px;
	height:45px;
	color:Black;
	margin: 10px 0px  0px 10px;
	float:left;

}
.button:hover
{
	background-color: #fecf9f;
}
.button2:hover
{
	background-color: #fecf9f;
}
#row
{
	width:670px;
	float:left;
   margin-left: 28px;
}
#row1
{
	width:670px;
	float:left;
   margin-left: 28px;
}
#row2
{
	width:670px;
	float:left;
   margin-left: 28px;
}
#row3
{
	width:670px;
	float:left;
   margin-left: 28px;
}

#row0_shift, #row1_shift, #row2_shift, #row3_shift
{
	display: none;
    clear: both;
    margin-left: 28px;
}

#keyboard
{
	position:relative;
	display:block;
	width:730px;
	height:230px;
	margin:0;
	padding:0;
	border: #7c7f81 8px solid;
	font-size: 12pt;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	float:left;
}

/*-------------------Games Page------------------------------------*/
#gameMainContainer{
	width:618px;
	height:auto;
	margin:32px 0 0 276px;
	float:left;
}
.game_backContainer {
	width:618px;
	height:auto;
	margin:0px 0 0 0px;
	float:left;
}
.game_back {
	background:url(../images/back.png) 0 0 no-repeat;
	width:97px;
	height:37px;
	margin: 0 0 0 0;
	float: left;
}

.game_back:hover{
	background:url(../images/back_hover.png) 0 0 no-repeat;
	width:97px;
	height:37px;
	margin: 0 0 0 0;
	float: left;
}

.gameContainer{
	width:618px;
	height:auto;
	margin:20px 0 0 0px;
	float:left;
}
.gameContainer_left{
	background:url(../images/gamesContainer_left.png) 0 0 no-repeat;
	width: 14px;
	height:468px;
	float:left;
}
.gameContainer_body{
	background:url(../images/gamesContainer_body.png) 0 0 repeat-x;
	width: 590px;
	height:468px;
	margin: 0px 0 0 0;
	float:left;
}
.gameContent{
	background:url(../images/sampleGame.jpg) 0 0 repeat-x;
	width: 590px;
	height:442px;
	margin: 14px 0 0 0;
	float:left;
}

.gameContainer_right{
	background:url(../images/gamesContainer_right.png) 0 0 no-repeat;
	width: 14px;
	height:468px;
	float:left;
}
/*-------------------Footer------------------------------------*/

#footer{
        background: url(../images/footer.png) #d6cec3 repeat-x;
        position: absolute;
        bottom: 0;
	width:100%;
	height:110px;
	margin:0;
        z-index: 2;
}
#sponsorBox{
	width:704px;
	height:116px;
	margin:40px 0 0 353px;
	float:left;
}
#sponsorBox .sponsorBox_left{
	background: url(../images/sponsorContBox_left.png) 0 0 no-repeat;
	width:10px;
	height:116px;
	margin:0 0 0 0;
	float:left;
}
#sponsorBox .sponsorBox_body{
	background: url(../images/sponsorContBox_body.png) 0 0 repeat-x;
	width:684px;
	height:116px;
	margin:0 0 0 0;
	float:left;
}
#sponsorBox .sponsorBox_right{
	background: url(../images/sponsorContBox_right.png) 0 0 no-repeat;
	width:10px;
	height:116px;
	margin:0 0 0 0;
	float:left;
}

#footerBox{
	width:735px;
	height:75px;
	/*margin:75px 0 0 353px;
	float:left;*/
        right: auto;
	display: block;
	margin: 20px auto;
}
#footerBox .footerBox_left{
	background: url(../images/footerContBox_left.png) 0 0 no-repeat;
	width:14px;
	height:76px;
	margin:0 0 0 0;
	float:left;
}
#footerBox .footerBox_body{
	background: url(../images/footerContBox_body.png) 0 0 repeat-x;
	width:707px;
	height:76px;
	margin:0 0 0 0;
	float:left;
}
.under18{
	background: url(../images/under18.png) 0 0 no-repeat;
	width:45px;
	height:44px;
	margin: 16px 0 0 64px;
	float:left;
}
.rules{
	font: 16px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#FFF;
	text-decoration:none;
	width:156px;
	height:20px;
	margin: 30px 0 0 131px;
	float:left;
        cursor: pointer;
}
.terms{
	font: 16px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#FFF;
	text-decoration:none;
	width:165px;
	height:20px;
	margin: 30px 0 0 100px;
	float:left;
        cursor: pointer;
}
.rules:hover{
	text-decoration:underline;
}
.terms:hover{
	text-decoration:underline;
}
#footerBox .footerBox_right{
	background: url(../images/footerContBox_right.png) 0 0 no-repeat;
	width:14px;
	height:76px;
	margin:0 0 0 0;
	float:left;
}


#popup_container_home
{
   margin-left:30px;
   margin-top:30px;
   width:460px;
   height:60px;
   font-weight:bold;
}

