.black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
}
.white_content {
        display: none;
        position: absolute;
        top: 5%;
        left: 15%;
        width: 70%;
        height: 85%;
        padding: 16px;
        border: solid #139E9E;
        background-color: white;
        z-index:1002;
        overflow: auto;
}
.white_content2 {
        display: none;
        position: absolute;
        top: 35%;
        left: 30%;
        width: 35%;
        height: 26%;
        background-color: white;
        z-index:1002;
	 border:5px solid #0B4C3F;
}