@charset "utf-8";
/* CSS Document */
body{
	background: url(../images/login_bg.png) #d6cec3 repeat-x;
	font:normal 12px/18px  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin:0;
	padding:0;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span, td, tr, table{
	margin:0;
	padding:0;
	border: 0;
}
ul{
	margin:0; 
	padding:0; 
	font-size:0;
	line-height:0;
	list-style-type:none;
}
.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}
/*------------------Main Container-----------------------*/
#mainContainer{
	width:100%;
	height:100%;
	display:block;
	margin:0 auto;
}
#banner{
	width:100%;
	height:50px;
	margin:0 0 0 0;
}
#logo{
	width:341px;
	height: 179px;
	margin: 20px 0 0 50px;
	float:left;
}
#logo_landing{
	width:341px;
	height: 179px;
	margin: 20px 0 0 550px;
	float:left;
}
#points{
	width:363px;
	height: 179px;
	margin: 20px 0 0 138px;
	float:left;
}

#txtBoxContainer_point{
	width:363px;
	height: 47px;
	margin: 58px 0 0 0;
	float:left;
}
#txtBoxContainer_point .txtBox_left{
	background:url(../images/pointContainer_left.png) 0 0 no-repeat;
	width:10px;
	height: 47px;
	margin: 0 0 0 0;
	float:left;
}
#txtBoxContainer_point .txtBox_body{
	background:url(../images/pointContainer_body.png) 0 0 repeat-x;
	width:343px;
	height: 47px;
	margin: 0 0 0 0;
	float:left;
}
#txtBoxContainer_point .txtBox_body p{
	font: 20px/47px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:343px;
	height: 47px;
	margin: 0 0 0 0;
	float:left;
}
#txtBoxContainer_point .txtBox_right{
	background:url(../images/pointContainer_right.png) 0 0 no-repeat;
	width:10px;
	height: 47px;
	margin: 0 0 0 0;
	float:left;
}

#Login_Cont{
	width:494px;
	height:auto;
	/*margin:68px 0 0 480px;*/
        /*float:left;*/
	display: block;
	margin: 68px auto;
}
#Login_Cont .login_logo{
	background:url(../images/logo_login.png) 0 0 no-repeat;
	width:494px;
	height:355px;
	margin:0 0 0 0;
	float:left;
}
#Login_Cont .login_body{
	width:494px;
	height:auto;
	margin:0 0 0 0;
	float:left;
}
#Login_Cont .loginCont_body{
	background:url(../images/loginContainer_body.png) 0 0 repeat-y;
	width:385px;
	height:130px;
	margin:0 0 0 53px ;
}

.txtName{
	font: bold 20px/25px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #FFF;
	text-transform: uppercase;
	width:150px;
	height:auto;
	margin:10px 0 0 15px;
	float:left;
}
.inputBoxEffect{
	font:normal 18px/25px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:200px;
	height:25px;
	background-color:#fff;
	border:1px solid  #dbdfe2;
	margin:10px 0 0 0px;
}
.login {
	background:url(../images/login.png) 0 0 no-repeat;
	width:97px;
	height:37px;
	margin:10px 0px 0px 167px;
	float: left;
        cursor: pointer;
}

.login:hover{
	background:url(../images/login_hover.png) 0 0 no-repeat;
	width:97px;
	height:37px;
	margin:10px 0px 0px 167px;
	float: left;
}	
	

#Login_Cont .login_bottom{
	background:url(../images/loginContainer_bottom.png) 0 0 no-repeat;
	width:385px;
	height:10px;
	margin:0 0 0 53px;
}

#err_msg {
	font-size:14px;
        font-weight: bold;
        color: red;
        font: bold 20px/25px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/*-------------------Footer------------------------------------*/

#footer{
	background: url(../images/footer.png) #d6cec3 repeat-x;
        position: absolute;
        bottom: 0;
	width:100%;
	height:115px;
	margin:0;
        z-index: 2;
}
