@charset "utf-8";
/* CSS Document */
/*-------------------Games Page------------------------------------*/
#gameMainContainer{
	width:748px;
	height:auto;
	margin:32px 0 0 275px;
	float:left;
}
.game_backContainer {
	width:748px;
	height:auto;
	margin:0px 0 0 0px;
	float:left;
}
.game_back {
	background:url(../images/back.png) 0 0 no-repeat;
	width:97px;
	height:37px;
	margin: 0 0 0 0;
	float: left;
}

.game_back:hover{
	background:url(../images/back_hover.png) 0 0 no-repeat;
	width:97px;
	height:37px;
	margin: 0 0 0 0;
	float: left;
}

.gameContainer{
	width:618px;
	height:auto;
	margin:20px 0 0 130px;
	float:left;
}
.gameContainer_left{
	background:url(../images/gamesContainer_left.png) 0 0 no-repeat;
	width: 14px;
	height:468px;
	float:left;
}
.gameContainer_body{
	background:url(../images/gamesContainer_body.png) 0 0 repeat-x;
	width: 590px;
	height:468px;
	margin: 0px 0 0 0;
	float:left;
}
.gameContent{
	background:url(../images/sampleGame.jpg) 0 0 repeat-x;
	width: 590px;
	height:442px;
	margin: 14px 0 0 0;
	float:left;
}

.gameContainer_right{
	background:url(../images/gamesContainer_right.png) 0 0 no-repeat;
	width: 14px;
	height:468px;
	float:left;
}

/*-------------------eSweeps Page------------------------------------*/
#sweepsMainContainer{
	width:985px;
	height:auto;
        display:block;
        margin:0px auto;
}
.sweeps_quickContainer {
	width:985px;
	height:auto;
	margin:5px 0 0 0px;
	float:left;
}
.sweepsContainer{
	background: url(../images/cardsContainer.png) 0 0 no-repeat;
	width:177px;
	height:178px;
	margin:10px 25px 0 0px;
	float:left;
}
.sweepsContainer2{
	background: url(../images/cardsContainer.png) 0 0 no-repeat;
	width:177px;
	height:178px;
	margin:10px 0px 0 0px;
	float:left;
}
.cardCount{
	font:  18px/47px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#6b0e00;
	text-decoration:none;
	text-align:center;
	width: 200px;
	height:49px;
	margin: 0px 0 0 0px;
	float:left;
}
.countBox_left{
	background:url(../images/inputBox_left.png) 0 0 no-repeat;
	width: 11px;
	height:49px;
	float:left;
}
.countBox_body{
	background:url(../images/inputBox_body.png) 0 0 repeat-x;
	width: 50px;
	height:49px;
	float:left;
}
.countBox_body p{
	font: 20px/40px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
	width:50px;
	height:40px;
	float:left;
	margin:3px 0 0px 0;
	padding:0;
	border: none;
}
.countBox_right{
	background:url(../images/inputBox_right.png) 0 0 no-repeat;
	width: 11px;
	height:49px;
	float:left;
}
.quick {
	width: 136px;
	height:37px;
	margin: 6px 20px 0 0px;
	float:right;
}
.sweeps_quick {
	background:url(../images/quickPick.png) 0 0 no-repeat;
	width:136px;
	height:37px;
	margin: 0 0 0 0;
	float: left;
        cursor: pointer;
}
.sweeps_quick2 {
	background:url(../images/quickPick.png) 0 0 no-repeat;
	width:136px;
	height:37px;
	margin: 0 0 0 0;
	float: left;
        opacity:0.4;
        filter:alpha(opacity=40);
}
.sweeps_quick:hover{
	background:url(../images/quickPick_hover.png) 0 0 no-repeat;
	width:136px;
	height:37px;
	margin: 0 0 0 0;
	float: left;
}
.win_container{
	background: url(../images/card02.png) 0 0 no-repeat;
	width:143px;
	height:143px;
	margin: 17px 0 0 17px;
	float:left;
        cursor: pointer;
}
.win_container2{
	background: url(../images/card02.png) 0 0 no-repeat;
	width:143px;
	height:143px;
	margin: 0px 0 0 0px;
	float:left;
}
.win_container p{
	font:  20px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-weight: bold;
	color:#000;
	text-decoration:none;
	text-align:center;
	width:143px;
	height:85px;
	margin: 40px 0 0 0px;
	float:left;
}
.win_container span{
	font:  12px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#000;
	text-decoration:none;
	text-align:center;
	width:143px;
	height:20px;
	margin: 0px 0 0 0px;
	float:left;
}
.flipCard{
	background: url(../images/card01.png) 0 0 no-repeat;
	width:143px;
	height:143px;
	margin:0px 0px 0 0px;
	float:left;
}
.sweeps_links {
	width: 200px;
	height:20px;
	margin: 20px 0 0 20px;
	float:left;
}
.sweeps_links2 {
	width: 110px;
	height:20px;
	margin: 20px 20px 0 0px;
	float:right;
}
.viewSum{
	font:  18px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#6b0e00;
	text-decoration:none;
	text-align:center;
	width: 200px;
	height:20px;
	margin: -10px 0 0 0px;
	float:left;
}
.viewSum:hover{
	font:  18px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#6b0e00;
	text-decoration:underline;
	text-align:center;
	width: 200px;
	height:20px;
	margin: -10px 0 0 0px;
	float:left;
}
.viewNext{
	font:  18px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#6b0e00;
	text-decoration:none;
	text-align:center;
	width: 110px;
	height:20px;
	margin: -10px 0 0 0px;
	float:left;
        cursor: pointer;
}
.viewNext:hover{
/*
	font:  18px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#6b0e00;
	text-decoration:underline;
	text-align:center;
	width: 110px;
	height:20px;
	margin: -10px 0 0 0px;
	float:left;
*/
}


/*-------------------Game List Page------------------------------------*/
.list_quickContainer {
	width:100%;
	height:auto;
	margin: 0 0 0 0;
	/*float:left;*/
}
.backToLaunchpad {
	width: 136px;
	height:37px;
	margin: 6px 20px 0 0px;
	/*float:left;*/
}
.back_launchPad {
	background:url(../images/backLaunchPad.png) 0 0 no-repeat;
	width:236px;
	height:37px;
	margin: -13% 0 0 0;
	/*float:left;*/
        cursor: pointer;
}

.back_launchPad2 {
	background:url(../images/backLaunchPad.png) 0 0 no-repeat;
	width:236px;
	height:37px;
	margin: 0 0 0 0;
	/*float:left;*/
        cursor: pointer;
}

.back_launchPad:hover{
	background:url(../images/backLaunchPad_hover.png) 0 0 no-repeat;
	width:236px;
	height:37px;
	margin: -13% 0 0 0;
	/*float:left;*/
}

#listMainContainer{
	width:100%;
	height:auto;
	margin: 0 auto 0 auto;
	float:left;
        text-align: center;
}

.listContainer{
	/*background: url(../images/gamesListContainer.png) 0 0 no-repeat;*/
	width:262px;
	height:auto;
	margin:100px 25px 0 0px;
	float:left;
}
.listContainer2{
	/*background: url(../images/gamesListContainer.png) 0 0 no-repeat;*/
	width:262px;
	height:auto;
	margin:100px 0px 0 0px;
	float:left;
}


.keno{
	/*background: url(../images/kenowithBG.png) 0 0 no-repeat;
	width:262px;
	height:210px;
	margin: 21px 0 0 21px;
	float:left;*/
	/*margin-top: -13%;*/
    cursor: pointer;
}
.horseRacing{
	/*background: url(../images/horseracingwithBG1.png) 0 0 no-repeat;
	width:262px;
	height:210px;
	margin: 21px 0 0 21px;
	float:left;*/
	/*margin-top: -13%;*/
    cursor: pointer;
}
.DinoMight{
	/*background: url(../images/dino.png) 0 0 no-repeat;
	width:262px;
	height:210px;
	margin: 21px 0 0 21px;
	float:left;*/
	/*margin-top: -13%;*/
    cursor: pointer;
}
.secretsword{
	/*margin-top: -13%;*/
    cursor: pointer;
}
.wheelwealth{
	/*margin-top: -13%;*/
    cursor: pointer;
}

.gameTitles{
	font: bold 16px/16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
	/*width:305px;*/
	width:auto;
	height:Auto;
	margin:5px 0 0 0;
	/*float:left;*/
}
/*-------------------Registration------------------------------------*/
.regContainer{
	width:550px;
	height:auto;
        display:block;
        margin:100px auto;
}
.regNote{
	font:italic 13px/18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#F00;
	height:25px;
	text-align:left;
	padding:0;
}
.txtName{
	font:normal 20px/25px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	height:35px;
	text-align:left;
}
.inputbox{
	height:35px;
	padding:0;
}
.submitCont{
	background:url(../images/submit.png) 0 0 no-repeat;
	width:97px;
	height:37px;
	float:left;
	display:block;
	margin:20px 0 0 190px;
	padding:0;
}
.submitCont:hover{
	background:url(../images/submit_hover.png) 0 0 no-repeat;
	width:97px;
	height:37px;
	float:left;
	display:block;
	margin:20px 0 0 190px;
	padding:0;
}

.messagebox{
	height:auto;
	padding:0;
        text-align:left;
}
.inputBoxEffect{
	font:normal 18px/25px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:305px;
	height:25px;
	background-color:#fff;
	border:1px solid  #dbdfe2;
}
.inputBoxEffect_selectM{
	font:normal 18px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:139px;
	height:25px;
	background-color:#fff;
	border:1px solid  #dbdfe2;
	margin: 0 10px 0 0;
	float:left;
}
.inputBoxEffect_selectD{
	font:normal 18px/25px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:60px;
	height:25px;
	background-color:#fff;
	border:1px solid  #dbdfe2;
	margin: 0 10px 0 0;
	float:left;
}
.inputBoxEffect_selectY{
	font:normal 18px/25px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:80px;
	height:25px;
	background-color:#fff;
	border:1px solid  #dbdfe2;
	float:left;
}
.messageBoxEffect{
	font:normal 18px/25px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:305px;
	height:auto;
	background-color:#fff;
	margin:0;
	padding:4px 0 0 3px;
	border:1px solid  #dbdfe2;
}


.winsumm{
	font:  18px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#6b0e00;
	text-decoration:none;
	text-align: center;
	width: 800px;
	height:20px;
	margin: -5px 0 0 80px;
	float:left;
        font-weight: bold;
}
.quick7 {
	width: 136px;
	height: 37px;
	margin: 58px 0px 0 -540px;
	float: left;
}
.sweeps_quick7 {
	background:url(../images/ProceedButton.png) 0 0 no-repeat;
	width:146px;
	height:47px;
	margin: -35px 0 0 100px;
	float: left;
        cursor: pointer;
}
.quick8 {
	width: 300px;
	height:37px;
	/*margin: 0px 0px 0 0px;*/
	display: block;
        margin: 0 auto;
        margin-top: 20px;
}
.sweeps_quick8 {
	background:url(../images/ProceedButton.png) 0 0 no-repeat;
	width:146px;
	height:47px;
	margin: 0 0 0 0;
	float: left;
        cursor: pointer;
}
.sweeps_back8 {
	background:url(../images/back.png) 0 0 no-repeat;
	width:146px;
	height:47px;
	margin: -30px 0 0 0;
        margin-left: 70px;
	float: left;
        cursor: pointer;
}
#popup_container_displaycards
{
   margin-top:25px;
   width:980px;
   height:575px;
   font-weight:bold;
   overflow-x:auto;
   overflow-y:auto;
}




.winsumm123{
	font:  18px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#6b0e00;
	text-decoration:none;
	text-align:center;
	width: 800px;
	height:20px;
	margin: 15px 0 0 110px;
	float:left;
        font-weight: bold;
}
.quick123 {
        /*margin: 100px 0px 0 -560px;*/
        width: 136px;
	height: 37px;
	margin: 70px 0 0 -470px;
	float: left;
}
.sweeps_quick123 {
	background:url(../images/ProceedButton.png) 0 0 no-repeat;
	width:146px;
	height:47px;
	margin: -20px 0 0 0px;
	float: left;
        cursor: pointer;
}
