#blanket
{
	background-color:#111;
	opacity: 0.65;
	filter:alpha(opacity=65);
	position:absolute;
	z-index: 9001;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	/*width:1418px;*/
}
#popUpDivConvert
{
	position:absolute;
	background-color:#eeeeee;
	width:510px;
	height:230px;
	z-index: 9002;
}
#popUpDivLPConvert
{
	position:absolute;
	background-color:#eeeeee;
	width:510px;
	height:230px;
	z-index: 9002;
}
#popUpDivLPBrowse
{
	position:absolute;
	background-color:#eeeeee;
	width:510px;
	height:230px;
	z-index: 9002;
}
#popUpDivLPBrowseConfirmed
{
	position:absolute;
	margin-left: -20px;
	background-color:#eeeeee;
	width:510px;
	height:230px;
	z-index: 9002;
}
#popUpDivLPBrowseNoBal
{
	position:absolute;
	background-color:#eeeeee;
	width:510px;
	height:230px;
	z-index: 9002;
}
#popUpDivLPCheckActiveSession
{
	position:absolute;
	background-color:#eeeeee;
	width:510px;
	height:230px;
	z-index: 9002;
}
#popUpDiv
{
	position:absolute;
	background-color:#eeeeee;
	width:800px;
	height:640px;
	z-index: 9002;
}
#popUpDivOpenedCards
{
	position: absolute;
        margin-top: -50px;
        margin-left: 180px;
	background-color:#eeeeee;
/*	width:1010px;
	height:562px;*/
        width:auto;
        height:auto;
	z-index: 9002;
}

#popUpDivOpenedCards_ie
{
	position: absolute;
        margin-top: -75px;
	background-color:#eeeeee;
	width:1020px;
	height:750px;
/*        width:auto;
        height:auto;*/
	z-index: 9002;
}
#popUpDivLoginUname
{
	position:absolute;
	background-color:#eeeeee;
	width:510px;
	height:230px;
	z-index: 9002;
}
#error1
{
	position:absolute;
	background-color:#eeeeee;
	width:510px;
	height:230px;
	z-index: 9002;
}
#popUpDivLoginPass
{
	position:absolute;
	background-color:#eeeeee;
	width:510px;
	height:230px;
	z-index: 9002;
}
#popUpDivHome
{
	position:absolute;
	background-color:#eeeeee;
	width:510px;
	height:230px;
	z-index: 9002;
}
#popUpDivEntryCode
{
	position:absolute;
	background-color:#eeeeee;
	width:510px;
	height:230px;
	z-index: 9002;
        
}







