/* 
    Document   : print
    Created on : 11 3, 11, 10:39:00 AM
    Author     : noel
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*root { 
    display: block;
}*/

@media print {
    body { 
        font-size: 7.5pt;
        font-family: sans-serif;
        height: auto;
        margin: 0 0 0 0;
        text-align: justify;
    }
}
@media screen {
    body { font-size: 1px; margin: 0 0 0 0; }
}
@media screen, print {
    body { line-height: 1.2; margin: 0 0 0 0; }
}
